{% extends 'homeLayout.twig' %}

{% block content %}

{% if dateChosen %}
    <p>Success!</p>
    {% else %}
        <form>
            <label for="journalDate">Date of Journal:</label>
            <input type="date" id="journalDate" name="journalDate">
            <input class="btn-primary" type="submit">
        </form>
{% endif %}


{% endblock %}
