{% extends 'centeredLayout.twig' %}

{% block content %}


  <div class="row">
    <div class="col col-md-4">
      <a class="btn btn-primary" href="{{ displayItemsURL }}" role="button">Display Items</a>
    </div>

    <div class="col col-md-4">
      <a class="btn btn-primary" href="{{ newItemsURL }}" role="button">New Items</a>
    </div>

    <div class="col col-md-4">
      <a class="btn btn-primary" href="{{ foodJournalsURL }}" role="button">FoodJournals</a>
    </div>
    <!-- Full Calendar -->
    <div class="col col-lg-2">
      <a class="btn btn-primary" href="{{ calendarURL }}" role="button">Calendar</a>
    </div>
  </div>

{% endblock %}
