<!--
MODEL:
{
    tableObj{
        headers : [(string)],
        rows : [
            content : {
                (header) : (string)
            }
        ]
    }
}
 -->


<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
            <!-- Headers are ordered -->
            {% for header in tableObj.headers %}
                <th scope="col">{{ header }}</th>
            {% endfor %}
            </tr>
        </thead>
        <tbody>
        <!-- Rows are ordered -->
        {% for row in tableObj.rows %}
            <tr>
                {% for header in tableObj.headers %}
                    <!-- RowContent is unordered, keyed by headers -->
                    <td>{{ row[header].content }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>