    <h3 class="h3 mb-3 font-weight-normal">General Info</h3>
    <div class="row">
        <div class="form-group col-12 col-md">
            <label for="name">Name</label>
            <input type="text" name="name" class="form-control" id="name" required class="form-control">
        </div>
        <div class="form-group col-12 col-md-4">
            <label for="servingQty">Serving Quantity</label>
            <input type="number" step="0.01" name="servingQty" class="form-control" id="servingQty" class="form-control" aria-describedby="servingQtyHelpBlock">
            <small id="servingQtyHelpBlock" class="form-text text-muted">
                Multiple of food unit to use for one serving. 
            </small>
        </div>
        <div class="form-group col-12 col-md-4">
            <label for="foodUnit">Food Unit</label>
            <input type="text" name="foodUnit" class="form-control" id="foodUnit" class="form-control" aria-describedby="foodUnitHelpBlock">
            <small id="foodUnitHelpBlock" class="form-text text-muted">
                e.g. cups, liters, or leave blank.
            </small>
        </div>
    </div>
    <div class="row">
        <div class="form-group col col-md-2">
            <label for="calories">Calories</label>
            <input type="number" step="0.01" name="calories" class="form-control" id="calories" value="{{ item.calories }}" required class="form-control">
        </div>
        <div class="form-group col col-md-2">
            <label for="protein">Protein</label>
            <input type="number" step="0.01" name="protein" class="form-control" id="protein" value="{{ item.protein }}" required class="form-control">
        </div>
    </div>
    </br>
    <h3 class="h3 mb-3 font-weight-normal">Carb Info</h3>
    <div class="row">
        <div class="form-group col-md-4">
            <label for="sugar">Sugar</label>
            <input type="number" step="0.01" name="sugar" class="form-control" id="sugar" value="{{ item.carb.sugar }}" required class="form-control">
        </div>
        <div class="form-group col-md-4">
            <label for="fiber">Fiber</label>
            <input type="number" step="0.01" name="fiber" class="form-control" id="fiber" value="{{ item.carb.fiber }}" required class="form-control">
        </div>
        <div class="form-group col-md-4">
            <label for="other">Other</label>
            <input type="number" step="0.01" name="other" class="form-control" id="other" value="{{ item.carb.other }}" required class="form-control">
        </div>
    </div>
    </br>
    <h3 class="h3 mb-3 font-weight-normal">Fat Info</h3>
    <div class="row">
        <div class="form-group col-md-6">
            <label for="unsaturated">Unsaturated</label>
            <input type="number" step="0.01" name="unsaturated" class="form-control" id="unsaturated" value="{{ item.fat.unsaturated }}" required class="form-control">
        </div>
        <div class="form-group col-md-6">
            <label for="saturated">Saturated</label>
            <input type="number" step="0.01" name="saturated" class="form-control" id="saturated" value="{{ item.fat.saturated }}" required class="form-control">
        </div>
    </div>