{% extends 'centeredLayout.twig' %}

{% block content %}

  <form class="form-signin text-center">
    <img class="mb-4" src="" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputUser" class="sr-only">Username</label>
    <!--User name-->
    <input type="text" value="{{ username }}" id="inputUser" name="username" placeholder="Username" required="" autofocus=""
    {% if userInvalid %}
      class="form-control is-invalid">
      <div class="invalid-feedback">
        {{ userInvalidMsg }}
      </div>
      {% else %}
        {% if accessDenied %}
          class="form-control is-invalid">
          <div class="invalid-feedback">
            {{ accessDeniedMsg }}
          </div>
        {% else %}
          class="form-control">
        {% endif %}
    {% endif %}
    </br>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" name="password" class="form-control " placeholder="Password" required="">

    <!--
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" name="remember"> Remember me
      </label>
    </div>
    -->
    <button class="btn btn-lg btn-primary btn-block" type="submit" formmethod="POST">Sign in</button>
    </br>
    <span class="h6 mb-3 font-weight-normal">Not registered? <a href="{{ registerURL }}">Register</a></span>
    <p class="mt-4 mb-3 text-muted">© 2020</p>
  </form>

{% endblock %}

