{% extends 'homeLayout.twig' %}

{% block content %}

<form>
    {% if showToast %}
        <div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center" style="min-height: 200px;">
            <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <strong class="mr-auto">{{ toastHeaderMsg }}</strong>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body">
                    {{ toastBodyMsg }}
                </div>
            </div>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Fill out new food item below:</h1>
    {% include 'ItemInputs.twig' %}

    </br>
    <button class="btn btn-primary col col-md-2" formmethod="POST" type="submit">Create</button>

</form>

<script>
    var option = {
        autohide : false
    };
    $('.toast').toast(option);
    $(document).ready(function(){
        $('.toast').toast('show');
    });
</script>

{% endblock %}
