{% extends 'centeredLayout.twig' %}

{% block content %}
<form>
    <h1 class="h3 mb-3 font-weight-normal">Fill out registration below:</h1>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="userName">User Name</label>
            <!--User name-->
            <input type="text" id="userName" name="username" placeholder="Username" required="" autofocus=""
            {% if userInvalid %}
                class="form-control is-invalid">
                <div class="invalid-feedback">
                    {{ userInvalidMsg }}
                </div>
            {% else %}
                class="form-control">
            {% endif %}
        </div>
        <div class="form-group col-md-6">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" required
            {% if emailInvalid %}
                class="form-control is-invalid">
                <div class="invalid-feedback">
                    {{ emailInvalidMsg }}
                </div>
            {% else %}
                class="form-control">
            {% endif %}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" id="password" required
            {% if passInvalid %}
                class="form-control is-invalid">
                <div class="invalid-feedback">
                    {{ passInvalidMsg }}
                </div>
            {% else %}
                class="form-control">
            {% endif %}
        </div>
    </div>

    {% if dbError %}
        <div class="invalid-feedback">
            {{ dbErrorMsg }}
        </div>
    {% endif %}


    <button type="submit" formmethod="POST" class="btn btn-primary">Submit</button>

    <p class="h6 mb-3 font-weight-normal">Already Registered? <a href="{{ loginURL }}">Log in</a></p>
</form>
{% endblock %}